html {
height: 100%
}

body{
background-color: #D6FFEA;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #0DB377; }

img{
width: 100%;
max-width: 350px;
}

header{

}

nav{
background-color: #FFA38F !important;
border-radius: 10px
}

 main{

 }

 article{

 }

 footer{
color: #B82C0D
 }