html {
height: 100%
}

body{
background-color: #D6FFEA;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #0DB377; 
width: 100%;
max-width: 350px;
}

Header{

}

nav{
background color: #FFA38F;
}

 main{

 }

 article{

 }

 footer{

 }